@{
    ViewBag.Title = "xiangce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>相册</h2>
<div class="picbox">
    <ul>
        <li>
          
                <i><img src="~/images/b01.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/t03.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/b04.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/v1.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/mb02.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/text01.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/v2.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/b06.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
    </ul>
    <ul>
        <li>
          
                <i><img src="~/images/zd01.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/b03.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/text02.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/v1.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/mb02.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/t01.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/mb05.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/b05.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
    </ul>
    <ul>
        <li>
          
                <i><img src="~/images/b02.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/text02.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/v1.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/mb02.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/text01.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/b01.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/t03.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
        <li>
          
                <i><img src="~/images/b04.jpg"></i>
                <div class="picinfo">
                   
                    <span>好咖啡要和朋友一起品尝，好看的相册也要和同样喜欢它的人一起分享。</span>
                </div>
            
        </li>
    </ul>
    <div class="blank"></div>
    <div class="pagelist"><a title="Total record">&nbsp;<b>45</b> &nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/download/index_2.html">2</a>&nbsp;<a href="/download/index_2.html">下一页</a>&nbsp;<a href="/download/index_2.html">尾页</a></div>
</div>